@model Lesson16.Models.Request.ElectricalApplianceDto

@{
    ViewData["Title"] = "AddElectricalAppliance";
}

<h1>AddElectricalAppliance</h1>

<h4>Electrical Appliance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddElectricalAppliance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voltage" class="control-label"></label>
                <input asp-for="Voltage" class="form-control" />
                <span asp-validation-for="Voltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amperage" class="control-label"></label>
                <input asp-for="Amperage" class="form-control" />
                <span asp-validation-for="Amperage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power" class="control-label"></label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
